PORT=
MONGODB_USER=
MONGODB_PASSWORD=
MONGODB_HOST=
MONGODB_PORT=
MONGODB_DATABASE=booking-
MONGODB_URL=mongodb://${MONGODB_USER}:${MONGODB_PASSWORD}@${MONGODB_HOST}:${MONGODB_PORT}/
JWT_SECRET=
JWT_EXPIRATION_TIME=
